.about-page {
    margin-top: 100px;
    padding: 40px 20px;
    text-align: center;
  
    .about-hero {
      h1 {
        font-size: 36px;
        color: #c1272d;
        font-family: 'Alegreya', serif;
      }
  
      p {
        font-size: 18px;
        margin-bottom: 20px;
        color: #333;
      }
  
      .btn-explorar {
        padding: 12px 24px;
        background-color: #1d8b24;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
  
        &:hover {
          background-color: #145c1a;
        }
      }
    }
  }